<div class="card mt-4">
    <h4 class="card-header">Welcome back</h4>

    <div class="card">
        <h4 class="card-header">
            Candlestick Charts
        </h4>
        <div class="card-body">
            <div id="container"></div>
        </div>

        <div class="card-footer">
            <p>Move your mouse over the chart to see a tooltip of the OHLC and time data at the point</p>
            <p>These project is serve in <a href="https://angular-auth-candlestick.netlify.com">netlify.com</a> and code
                is available in <a href="https://github.com/jimiejosh/angular-auth-highchart-candlestick"> Github</a>
            </p>
        </div>
    </div>
</div>